<div class="zp-index">
    <div class="loginWrapper">
      <div class="loginBoxBackgroundColor"></div>
      <div class="loginContentBox">
        <div class="loginContent">
          <div class="row">

            <%= render '/welcome/welcome_left' %>

            <div class="col-22 col-offset-5 loginContentBody">
              <div class="row">
                <%= render '/welcome/welcome_top'%>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <% if resource.errors.any? %>
                        <div id="error_explanation" style="margin: 0px;">
                          <ul style="margin: 0px;">
                            <% resource.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>

                    <div class="col-48 line" style="margin-bottom: 10px;">
                      <input id="user_email" type="email" name="user[email]" value="" autofocus="autofocus" placeholder="请输入邮箱" class="col-48">
                    </div>
                    <div class="col-48 line" style="margin-bottom: 10px;">
                      <input id="user_password" type="password" name="user[password]" autocomplete="off" placeholder="请输入密码" class="col-48"/>
                      <em>(至少 8 位)</em>
                    </div>
                    <div class="col-48 line" style="margin-bottom: 10px;">
                      <input id="user_password_confirmation" type="password" name="user[password_confirmation]" autocomplete="off" placeholder="请输入重复密码" class="col-48"/>
                      <em>(至少 8 位)</em>
                    </div>

                    <div class="col-48" style="margin-bottom: 10px;">
                      <button class="btn-block btn-primary">注册</button>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>