<div class="content col-offset-1 col-37">
  <div class="row">
    <div class="col-48 contentHeader">
      <div class="row text-center">
        <div class="col-6 item active">热门职位</div>
        <div class="col-6 item">最新职位</div>
      </div>
    </div>

    <div class="col-48 contentItem">
      <div class="row">
        <div class="col-4"><img src="/static/src/images/head.jpg" alt="username"></div>
        <div class="col-44">
          <div class="row">
            <div class="col-48 title">UI设计师[北京] <span class="time pull-right">2015-5-5 10:00:00 发布</span></div>
            <div class="col-48 ins">经验1-3年/本科及以上/移动互联网 <span class="salary pull-right">￥ 20000-30000</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-48 contentItem">
      <div class="row">
        <div class="col-4"><img src="/static/src/images/head.jpg" alt="username"></div>
        <div class="col-44">
          <div class="row">
            <div class="col-48 title">UI设计师[北京] <span class="time pull-right">2015-5-5 10:00:00 发布</span></div>
            <div class="col-48 ins">经验1-3年/本科及以上/移动互联网 <span class="salary pull-right">￥ 20000-30000</span></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-48 contentItem">
      <div class="row">
        <div class="col-4"><img src="/static/src/images/head.jpg" alt="username"></div>
        <div class="col-44">
          <div class="row">
            <div class="col-48 title">UI设计师[北京] <span class="time pull-right">2015-5-5 10:00:00 发布</span></div>
            <div class="col-48 ins">经验1-3年/本科及以上/移动互联网 <span class="salary pull-right">￥ 20000-30000</span></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>