<div class="sidebar col-10">
  <% @positions.each do |position|%>
      <div class="row">
        <p class="col-48"><%= position.name %> <span class="pull-right">&gt;</span> </p>
        <div class="col-48 sidebarContent">
          <% position.sub_positions.each do |sub_position|%>
            <%if params[:action]=='index'%>
                  <%=link_to sub_position.name, jobs_path(:sub_position_id=>sub_position.id), :class=>"sidebarItem" %>
            <% else %>
                  <%=link_to sub_position.name, new_job_jobs_path(:sub_position_id=>sub_position.id), :class=>"sidebarItem"  %>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>