<div class="jobItems">
  <% @hot_sub_categories.each do |sub_category|%>
      <div class="col-12 jobItem text-center">
        <div class="<%=hot_category_class(sub_category.id)%>">
          <%= sub_category.name %>
        </div>
      </div>
  <% end %>
</div>