<div class="bottom-banner">
    <div class="row">
        <span><b>维鼎优聘公司服务介绍</b></span>
        <hr/>
    </div>
    <div class="row">
      <div class="col-20">
        &nbsp;&nbsp;&nbsp;&nbsp;鼎优传媒艺术中心是国家政府部门注册批准成立的一所艺术培训机构，是一家师资强，负责任的
        艺考考前培训机构。教师团队由重点高校教师以及其他一批志同道合、有丰富考前教学经验的教师组成。中心以各大艺术院校招
        生要求为教学标准，实现考生冲一类、保二类的考学目标，为广大考生打开通往理想艺术殿堂的大门。我们希望给予有志青年助
        以一臂之力，帮助他们迈向人生的又一个新台阶！
      </div>
      <div class="col-20 col-push-1">
        <img src="/assets/footer-banner.jpg"  style="width:506px;height:305px;"/>
      </div>
    </div>
</div>
