<%jobs = Job.order('created_at desc').limit(6)%>
<% if jobs.present?%>
    <div class="right_job_info">
      <ul>
        <% Job.order('created_at desc').limit(6).each do |job|%>
            <li>
              <span class="footer-big-font"><%=job.name %></span><br/>
                  <span class="footer-little-font">
                    经验<%=job.experience ? job.experience : 1 %>年/
                    <%=job.education %>/
                    <%=job.sub_position.name rescue '' %>
                  </span>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>