<div class="userInfoContent container">
  <div class="row">
    <div class="col-48 userInfoContent">
      <div class="row">
        <h3>关于维鼎</h3>
        招聘优势:
        <p>
          致力于成为浙江本土最有价值的人力资源公司，高端猎头，人力资源外包招聘流程外包，劳务派遣等。旨在帮助客户加快产业结构调整，快速转型升级，积极善用人力资源，从而获得人力资源公司经营上的成功。
          作为经由政府部门批准和认可的专业人力资源公司，劳务派遣实力机构，维鼎人力资源有限公司借鉴国内外相关行业的先进经验，始终坚持诚信，道德的品牌服务，聘请多名在政府，企业里从事劳资管理的资深顾问。
        </p>
        服务态度:
        <p>
          本着“客户第一，诚信至上”的原则，欢迎国内外企业/公司/机构与本单位建立长期的合作关系。公司拥有一支较强的队伍并和国内多家单位强强联手。热诚欢迎各界朋友前来参观、考察、洽谈业务。
        </p>
        招聘流程:
        <p>
        </p>
        收费标准:
        <p>
        </p>
        成功案例:
        <p>
        </p>
        联系我们:
        <p>
          电话: 0579-85501180<br/>
          QQ:<br/>
          微信:<br/>
        </p>
      </div>
    </div>
  </div>
</div>
