<h1> 首页 </h1>
<%= link_to "我要招人", new_company_path, :class => 'navbar-link'  %>  |
<%= link_to "我要求职", new_user_registration_path, :class => 'navbar-link'  %>
<%= link_to "登录", new_user_session_path, :class => 'navbar-link'  %>