<div class="col-48 userInfoTabs">
  <%
     style = "color:#333333;"
     if params[:action]=='edit'
       style = "color:#1866b8;"
     end
     estyle = "color:#333333;"
     if params[:action]=='edit_job'
       estyle = "color:#1866b8;"
     end
  %>
  <div class="row text-center">
    <div class="col-6 item <%if params[:action]=='edit'%>active<% end %>">
      <%=link_to '编辑企业信息', edit_company_path(@company), :style=>style%>
    </div>
    <div class="col-6 item <%if params[:action]=='edit_job'%>active<% end %>">
      <%=link_to '编辑企业招聘信息', edit_job_companies_path(:id=>@company.id), :style=>estyle %>
    </div>
  </div>
</div>