<h1>我要招人</h1>
<div class="userInfoContent container">
  <div class="row">
    <div class="col-48 userInfoContent">
      <%= render 'form' %>
      <%#= link_to 'Show', @company,:style=>'color:#333333' %>
    </div>
  </div>
</div>

