<div class="zp-index">
    <div class="loginWrapper">
      <div class="loginBoxBackgroundColor"></div>
      <div class="loginContentBox">
        <div class="loginContent">
          <div class="row">

            <%= render '/welcome/welcome_left' %>

            <div class="col-22 col-offset-5 loginContentBody">
              <div class="row">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%= render '/layouts/footer_banner' %>
