/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require styles
 */
#operate_info_div {
    display:none;
    border:1px solid #a0a0a0;
    width:188px;
    float:right;
    background-color: #337ab7;
    position: absolute;
    z-index: 9999;
}
i{
    color: #FF4D00;
}
em{
    color: #FF4D00;
}
ul{
    list-style: none;
}
.new_btn{
    background-color:#337ab7;
    width:150px;
    height:40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}