/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require styles
 *= require simditor
 */
#operate_info_div {
    display: none;
    border: 1px solid #a0a0a0;
    width: 188px;
    float: right;
    background-color: #337ab7;
    position: absolute;
    z-index: 9999;
}

i {
    color: #FF4D00;
}

em {
    color: #FF4D00;
}

ul {
    list-style: none;
}

.new_btn {
    background-color: #337ab7;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.nav_operate {
    color: #ffffff;
    width: 188px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: 2px;
}

.nav_operate:hover {
    background-color: #217fe2;
    width: 188px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.flash-message {
    display: none;
    box-shadow: 1px 1px 1px #cccccc;
    font-size: 1.5em;
    line-height: 1.5em;
    z-index: 2147483647;
}

.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert .close {
    line-height: 20px;
    position: relative;
    right: -21px;
    top: -2px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.close {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 white;
}

.zp-index {
    background: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 30px;
    padding-top: 35px;
}

.company-new-error-ul {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

.footer-little-font {
    color: #a0a0a0;
    font-size: 14px;
}

.footer-little-font a {
    color: #a0a0a0;
    font-size: 14px;
}

.footer-big-font {
    color: #1866b8;
    font-size: 18px;
}

.footer-banner-img {
    margin-top: 15px;
}

.footer-banner-container {
    height: 230px;
    padding-top: 70px;
}

.right_job_info {
    width: 240px;
    height: 460px;
    float: right;
    opacity: 0.8;
    background-color: #ffffff;
    padding: 20px 7px 20px 20px;
    word-wrap: break-word;
    word-break: break-all;
}
/*.right_job_info { top: -456px; }  firefox*/

.right_job_info ul {
    list-style: outside;
    color: #1866b8;
    padding-left: 18px;
    margin-top: 0px;
}
.right_job_info li{
    padding-top: 10px;
}