// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
  color:#337ab7;
}
#article_table td{
  border: 1px solid #337ab7;
  transition: background-color 0.3s ease 0s;
}
#article_content_div a{
  color:#1866b8;
}