<div class="footer">
    <div class="container">
        <p>
            <span>版权所有：义乌维鼎人力资源有限公司 鄂ICP 030240</span>
        </p>
        <p>
            技术支持：
            <a href="http://www.songguokeji.com" target="_blank">武汉松果科技有限公司</a>
        </p>
  </div>
</div>
