<%if !user_signed_in?%>
    <%=render '/layouts/footer_banner'%>
<%end%>
<div class="col-48 footer <% if params[:controller]=='users/registrations' or params[:controller]=='users/sessions'%>footer-reg-singin<%elsif params[:controller]=='devise/passwords'%>footer-pass<%end%>" <%if params[:action]=="about_us" or user_signed_in?%>style="margin-top: 0px;"<%end%>>
        <p>
          <span>地址：浙江省义乌市福田街道福田社区工人北路861号603室</span>
        </p>
        <p>
            <span>版权所有：义乌维鼎人力资源有限公司 鄂ICP 030240</span>
            <span>技术支持：<a href="http://www.songguokeji.com" target="_blank">武汉松果科技有限公司</a></span>            
        </p>
</div>
