<div class="container row footer-banner-container">
    <div class="col-6"></div>
    <div class="col-14">
        <a href="/about#p1">
        <div class="row">
            <div class="col-10 footer-banner-img">
                <%= image_tag "foot2.png"%>
            </div>
            <div class="footer-banner-disc col-38">
                <p class="footer-big-font">招聘优势</p>
                <p class="footer-little-font">本地、免费、真实、高效</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col-14">
        <a href="/about#p2">
        <div class="row">
            <div class="col-10 footer-banner-img">
                <%= image_tag "foot3.png"%>                
            </div>
            <div class="footer-banner-disc col-38">
                <p class="footer-big-font">服务介绍</p>
                <p class="footer-little-font">通过互联网让人们生活更简单</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col-14">
        <a href="/about#p3">
        <div class="row">
            <div class="col-10 footer-banner-img">
                <%= image_tag "foot1.png"%>                
            </div>
            <div class="footer-banner-disc col-38">
                <p class="footer-big-font">公司愿景</p>
                <p class="footer-little-font">人人信赖的招聘平台</p>
            </div>
        </div>
        </a>
    </div>
</div>
