<div class="footer">
        <p>
          <span>地址：浙江省义乌市福田街道福田社区工人北路861号603室</span>
        </p>
        <p>
            <span>版权所有：义乌维鼎人力资源有限公司 鄂ICP 030240</span>
        </p>
        <p <%if !user_signed_in? and params[:action]!='about_us'%>class="footer-not-singin"<%end%>>
            <span>技术支持：</span>
            <a href="http://www.songguokeji.com" target="_blank">武汉松果科技有限公司</a>
        </p>
</div>
