<div class="header container">
  <div class="row">
    <div class="col-4">
      <%=image_tag 'logo.jpg', :alt=>"logo", :class=>"img-responsive logo"%>
    </div>
    <div class="col-12 col-offset-5"><input type="text" placeholder="搜索专属你的职位" class="col-48 ipt-primary"></div>
    <div class="col-4"><button class="col-48 btn-primary">搜索</button></div>
    <div class="col-6 pull-right"><button class="col-48 btn-default">发布简历</button></div>
  </div>
</div>